Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)
  rhtas-operator-on-pull-request: (((((((((((any of: .tekton/rhtas-operator-bundle-pull-request.yaml) or (any of: .tekton/rhtas-operator-pull-request.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: test/***)) or (any of: go.mod)) or (any of: go.sum)
  rhtas-operator-on-push: (((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: test/***)) or (any of: go.mod)) or (any of: go.sum)

test
  bundle.Dockerfile
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

ci: fix tekton on-cell-expression
  .tekton/project_resources/devstream.yaml
  .tekton/project_resources/project.yaml
  .tekton/project_resources/template.yaml
  .tekton/rhtas-operator-bundle-pull-request.yaml
  .tekton/rhtas-operator-bundle-push.yaml
  .tekton/rhtas-operator-pull-request.yaml
  .tekton/rhtas-operator-push.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

ci: remove project resources from .tekton
  .tekton/project_resources/devstream.yaml
  .tekton/project_resources/project.yaml
  .tekton/project_resources/template.yaml
  .tekton/rhtas-operator-bundle-push.yaml
  .tekton/rhtas-operator-pull-request.yaml
  .tekton/rhtas-operator-push.yaml
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

Update RELATED_IMAGE_TUF digest in images.env
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

test: rekor imgs
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

:robot: [release-1.2] [2025-10-17T15:09:55Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

:robot: [main] [2025-10-17T15:10:03Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

:robot: [main] [2025-10-22T11:37:03Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

update rekor monitor images.env
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

:robot: [RHTAS-build-bot] [main] Update Component images (#1371)
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

use target branch in rhtas-operator-pull-request.yaml
  .tekton/rhtas-operator-pull-request.yaml
Due: rhtas-operator-on-pull-request

fix: typo
  .tekton/rhtas-operator-pull-request.yaml
Due: rhtas-operator-on-pull-request

fix: use quay public repo
  .tekton/rhtas-operator-pull-request.yaml
Due: rhtas-operator-on-pull-request

ci: fix pipelinerun selector to accept incoming event-type
  .tekton/rhtas-operator-bundle-pull-request.yaml
  .tekton/rhtas-operator-bundle-push.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

Update rhtas-operator-bundle-pull-request.yaml
  .tekton/rhtas-operator-bundle-pull-request.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-on-pull-request

Update rhtas-operator-bundle-push.yaml
  .tekton/rhtas-operator-bundle-push.yaml
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Update rhtas-operator-pull-request.yaml
  .tekton/rhtas-operator-pull-request.yaml
Due: rhtas-operator-on-pull-request

Update rhtas-operator-push.yaml
  .tekton/rhtas-operator-push.yaml
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Update rhtas-operator-bundle-pull-request.yaml (#1397)
  .tekton/rhtas-operator-bundle-pull-request.yaml
  .tekton/rhtas-operator-bundle-push.yaml
  .tekton/rhtas-operator-pull-request.yaml
  .tekton/rhtas-operator-push.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

:robot: [release-1.2] [2025-10-24T15:46:56Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

Missing ctlog config secret test added
  test/e2e/ctlog_recovery_test.go
  test/e2e/support/tas/ctlog/ctlog.go
Due: rhtas-operator-on-pull-request, rhtas-operator-on-push

Checking correct trillian addres in secret config
  test/e2e/ctlog_recovery_test.go
  test/e2e/support/tas/ctlog/ctlog.go
Due: rhtas-operator-on-pull-request, rhtas-operator-on-push

Use correct instance name
  hack/restoreTls.sh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

:robot: [release-1.3] [2025-10-28T06:59:29Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

:robot: [release-1.3] [2025-10-28T06:59:29Z] Update component images (#1398)
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

Added treeID recovery test
  test/e2e/ctlog_recovery_test.go
  test/e2e/support/tas/ctlog/ctlog.go
Due: rhtas-operator-on-pull-request, rhtas-operator-on-push

:robot: [release-1.2] [2025-10-30T09:46:27Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

Recover from missing or invalid ctlog secret
  internal/controller/ctlog/actions/server_config.go
  internal/controller/ctlog/utils/ctlog_config.go
  test/e2e/ctlog_recovery_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push

Remove unnecessary phase 2 tests - ctlog CR is only source of truth
  test/e2e/ctlog_recovery_test.go
  test/e2e/support/tas/ctlog/ctlog.go
Due: rhtas-operator-on-pull-request, rhtas-operator-on-push

feat: SECURESIGN-3183: add operator config and auto-detect platform
  .github/workflows/main.yml
  Makefile
  api/v1alpha1/tasoperatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/rhtas.redhat.com_ctlogs.yaml
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_tasoperatorconfigs.yaml
  config/crd/bases/rhtas.redhat.com_timestampauthorities.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
  config/crd/bases/rhtas.redhat.com_tufs.yaml
  config/crd/kustomization.yaml
  config/env/kubernetes/kustomization.yaml
  config/env/openshift/kustomization.yaml
  config/env/openshift/manager_openshift_patch.yaml
  config/rbac/role.yaml
  internal/controller/types.go
  internal/utils/flag_or_env.go
  internal/utils/kubernetes/platform.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-pull-request, rhtas-operator-on-push
