Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)
  rhtas-operator-on-push: (((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: test/***)) or (any of: go.mod)) or (any of: go.sum)

:robot: [release-1.2] [2025-07-28T13:31:20Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

update rekor monitor image, statefulset
  config/default/images.env
  internal/controller/rekor/actions/monitor/statefulset.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-07-29T09:23:11Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-07-29T09:23:11Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

feat: Add rekor monitor (#1089)
  api/v1alpha1/common.go
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/default/images.env
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  config/rbac/role.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/helper.go
  internal/controller/rekor/actions/monitor/monitoring.go
  internal/controller/rekor/actions/monitor/statefulset.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/securesign/securesign_controller.go
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: ctlog configuration in securesign sample
  config/samples/rhtas_v1alpha1_securesign.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: Boolean flags must use equal sign
  internal/controller/rekor/actions/server/deployment.go
  test/e2e/common_install_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: read only root filesystem on manager container
  config/manager/manager.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: set seccomp RuntimeDefault profile for manger pod
  config/manager/manager.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: Boolean flags must use equal sign (#1241)
  internal/controller/rekor/actions/server/deployment.go
  test/e2e/common_install_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-07-30T15:24:28Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-07-30T15:24:29Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-07-31T07:18:23Z] Update Bundle image
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Set certificate size limits in CTLog
  api/v1alpha1/ctlog_types.go
  config/crd/bases/rhtas.redhat.com_ctlogs.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/controller/ctlog/actions/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix ctlog test
  api/v1alpha1/ctlog_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

handle nil value of MaxCertChainSize
  internal/controller/ctlog/actions/deployment.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Set certificate size limits in CTLog (#1243)
  api/v1alpha1/ctlog_types.go
  api/v1alpha1/ctlog_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_ctlogs.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/controller/ctlog/actions/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: manager's security context (#1242)
  config/manager/manager.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: ctlog configuration in securesign sample (#1236)
  config/samples/rhtas_v1alpha1_securesign.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: SCC must be present on every pod on OCP>4.19
  test/e2e/byodb_test.go
Due: rhtas-operator-on-push

:robot: [main] [2025-08-01T11:02:00Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-01T11:02:02Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: reduce api rules to get OCP base domain
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/securesign/securesign_controller.go
  internal/utils/kubernetes/common.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: configure mysql client connection pool limits
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/trillian/utils/server-deployment.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

feat(deployment): add liveness and readiness probes for components
  internal/controller/rekor/actions/searchIndex/redis/actions/deployment.go
  internal/controller/rekor/actions/ui/deployment.go
  internal/controller/tuf/actions/deployment.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Set max log entry size in Trillian
  api/v1alpha1/trillian_types.go
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
  config/default/images.env
  internal/controller/trillian/utils/server-deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

update
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

update trillian test
  api/v1alpha1/trillian_types_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: configure mysql client connection pool limits (#1255)
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/trillian/utils/server-deployment.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

feat: add configurable max log entry size for Trillian (#1260)
  api/v1alpha1/trillian_types.go
  api/v1alpha1/trillian_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
  config/default/images.env
  internal/controller/trillian/utils/server-deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: add crdify linter to pull requests workflow
  .github/workflows/linter.yml
Due: none

fix: SCC must be present on every pod on OCP>4.19 (#1252)
  test/e2e/byodb_test.go
Due: rhtas-operator-on-push

feat: add liveness and readiness probes for components (#1256)
  internal/controller/rekor/actions/searchIndex/redis/actions/deployment.go
  internal/controller/rekor/actions/ui/deployment.go
  internal/controller/tuf/actions/deployment.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: add crdify linter to pull requests workflow (#1262)
  .github/workflows/linter.yml
Due: none

ci: run linter workflow only for pull requests
  .github/workflows/linter.yml
Due: none
