Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)

update rekor-monitor image
  internal/images/images.env
Due: rhtas-operator-bundle-on-push

add alerting
  api/v1alpha1/rekor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/controller/rekor/actions/otelCollector/deployment.go
  internal/controller/rekor/actions/otelCollector/ingress.go
  internal/controller/rekor/actions/otelCollector/otel_collector_config.go
  internal/controller/rekor/actions/otelCollector/svc.go
  internal/controller/rekor/rekor_controller.go
  internal/images/images.env
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

updates
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/otelCollector/otel_collector_config.go
  internal/images/images.env
Due: rhtas-operator-bundle-on-push

Remove OpenTelemetry dependence
  api/v1alpha1/rekor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/actions/otelCollector/deployment.go
  internal/controller/rekor/actions/otelCollector/otel_collector_config.go
  internal/controller/rekor/rekor_controller.go
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

updates
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-push

remove bundle/*
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
Due: none

updates imports
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-push

review updates
  api/v1alpha1/common.go
  api/v1alpha1/rekor_types.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/samples/rhtas_v1alpha1_securesign.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/monitoring.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/rekor_controller.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

update rekor tests
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-push

Changing Trillian Create Tree to createTree
  config/default/images.env
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

:robot: [main] [2025-06-27T11:38:58Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

:robot: [release-1.2] [2025-06-27T11:38:58Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

Updating main with new image name
  cmd/main.go
Due: rhtas-operator-bundle-on-push

feat: Rekor search-index tls
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/controller/rekor/actions/backfillRedis/backfill_redis_cronjob.go
  internal/controller/rekor/actions/backfillRedis/helper.go
  internal/controller/rekor/actions/backfillRedis/helper_test.go
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/searchIndex/redis/actions/deployment.go
  internal/controller/rekor/actions/searchIndex/redis/actions/generate_password.go
  internal/controller/rekor/actions/searchIndex/redis/actions/helper.go
  internal/controller/rekor/actions/searchIndex/redis/actions/svc.go
  internal/controller/rekor/actions/searchIndex/redis/actions/tls.go
  internal/controller/rekor/actions/searchIndex/redis/options.go
  internal/controller/rekor/actions/searchIndex/util.go
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/rekor/rekor_controller.go
  internal/utils/kubernetes/ensure/auth.go
  test/e2e/byodb_test.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

feat: extend TUF by affinity, tolerations, resources and replicas
  Makefile
  api/v1alpha1/securesign_types.go
  api/v1alpha1/tuf_types.go
  api/v1alpha1/tuf_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_tufs.yaml
  config/manifests/kustomization.yaml
  config/manifests/patches/tuf_descriptors.yaml
  internal/controller/tuf/actions/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

:robot: [release-1.2] [2025-07-01T08:00:46Z] Update Bundle image
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

Improve the included comment
  api/v1alpha1/fulcio_types.go
Due: rhtas-operator-bundle-on-push

feat: Add the CIIssuerMetadata setting for Fulcio
  api/v1alpha1/fulcio_types.go
  api/v1alpha1/fulcio_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/controller/fulcio/actions/server_config.go
  internal/controller/fulcio/actions/testdata/config.json
  internal/controller/fulcio/actions/testdata/config.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

feat: extend TUF by affinity, tolerations, resources and replicas (#1176)
  Makefile
  api/v1alpha1/securesign_types.go
  api/v1alpha1/tuf_types.go
  api/v1alpha1/tuf_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_tufs.yaml
  config/manifests/kustomization.yaml
  config/manifests/patches/tuf_descriptors.yaml
  internal/controller/tuf/actions/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

[SECURESIGN-2268] Add rekor monitor
  config/default/images.env
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/rekor_controller.go
  internal/images/images.env
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

review updates
  api/v1alpha1/common.go
  api/v1alpha1/rekor_types.go
  config/crd/bases/rhtas.redhat.com_ctlogs.yaml
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_timestampauthorities.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
  config/default/images.env
  config/samples/rhtas_v1alpha1_securesign.yaml
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/helper.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/monitoring.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

review updates
  api/v1alpha1/common.go
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  config/crd/bases/rhtas.redhat.com_ctlogs.yaml
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_timestampauthorities.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/helper.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

:robot: [release-1.2] [2025-07-03T11:57:33Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

:robot: [main] [2025-07-03T11:57:35Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

fix(SECURESIGN-2058): Fix conditions for creating ingress objects
  internal/controller/fulcio/actions/ingress.go
  internal/controller/fulcio/actions/ingress_test.go
  internal/controller/rekor/actions/server/ingress_test.go
  internal/controller/rekor/actions/ui/ingress.go
  internal/controller/rekor/actions/ui/ingress_test.go
  internal/controller/tsa/actions/ingress.go
  internal/controller/tsa/actions/ingress_test.go
  internal/controller/tuf/actions/ingress_test.go
Due: rhtas-operator-bundle-on-push

Move Gomega initialization to t.Run blocks
  internal/controller/fulcio/actions/ingress_test.go
  internal/controller/rekor/actions/server/ingress_test.go
  internal/controller/rekor/actions/ui/ingress_test.go
  internal/controller/tsa/actions/ingress_test.go
  internal/controller/tuf/actions/ingress_test.go
Due: rhtas-operator-bundle-on-push

:robot: [release-1.2] [2025-07-08T11:03:22Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push
