Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

rhtas-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator-bundle:on-pr-{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
    value: .
  - name: build-source-image
  ...

rhtas-operator-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator-bundle:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
    value: .
  - name: build-source-image
    value: 'true'
  ...

chore: use bundle build oci pipeline
  .tekton/rhtas-operator-bundle-pull-request.yaml
  .tekton/rhtas-operator-bundle-push.yaml
  .tekton/rhtas-operator-pull-request.yaml
  .tekton/rhtas-operator-push.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

test
  api/v1alpha1/ctlog_types.go
Due: rhtas-operator-bundle-on-push

test: Adding redirect URI for model signing
  ci/keycloak/resources/base/tas-client.yaml
Due: none

tests: adding redirect URI for model signing (#1120)
  ci/keycloak/resources/base/tas-client.yaml
Due: none

feat(SECURESIGN-994): TLS for CTLOG/Fulcio communication
  api/v1alpha1/common.go
  api/v1alpha1/ctlog_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_ctlogs.yaml
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/controller/ctlog/actions/constants.go
  internal/controller/ctlog/actions/deployment.go
  internal/controller/ctlog/actions/service.go
  internal/controller/ctlog/actions/tls.go
  internal/controller/ctlog/ctlog_controller.go
  internal/controller/ctlog/utils/tls.go
  internal/controller/fulcio/actions/deployment.go
  internal/controller/fulcio/actions/fulcio_deployment_test.go
  test/e2e/namespaced.go
  test/e2e/support/kubernetes/ocp.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

refactor: Use shared function for openshift
  test/e2e/byodb_test.go
  test/e2e/common_install_test.go
  test/e2e/namespaced.go
  test/e2e/upgrade_test.go
Due: none

fix(ctlog): load public key from instanceStatus.PublicKeyRef
  internal/controller/ctlog/actions/handle_keys.go
Due: rhtas-operator-bundle-on-push

refactor: Use shared function for openshift
  internal/controller/fulcio/actions/fulcio_deployment_test.go
  test/e2e/byodb_test.go
  test/e2e/common_install_test.go
  test/e2e/namespaced.go
  test/e2e/support/kubernetes/ocp.go
  test/e2e/upgrade_test.go
Due: rhtas-operator-bundle-on-push

chore: inherit org renovate config and limit k8s packages
  renovate.json
Due: none

Small change in dockerfile to trigger build on Konflux
  Dockerfile.rhtas-operator.rh
Due: rhtas-operator-bundle-on-push

chore: limit controller-runtime dep version
  renovate.json
Due: none

refactor: generalization of controller suite methods
  cmd/main.go
  internal/controller/ctlog/ctlog_controller.go
  internal/controller/ctlog/ctlog_controller_test.go
  internal/controller/ctlog/ctlog_hot_update_test.go
  internal/controller/ctlog/suite_test.go
  internal/controller/fulcio/fulcio_controller.go
  internal/controller/fulcio/fulcio_controller_test.go
  internal/controller/fulcio/fulcio_hot_update_test.go
  internal/controller/fulcio/suite_test.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/rekor/rekor_controller_test.go
  internal/controller/rekor/rekor_hot_update_test.go
  internal/controller/rekor/suite_test.go
  internal/controller/securesign/securesign_controller.go
  internal/controller/testonly/suite.go
  internal/controller/trillian/suite_test.go
  internal/controller/trillian/trillian_controller.go
  internal/controller/trillian/trillian_controller_test.go
  internal/controller/tsa/suite_test.go
  internal/controller/tsa/timestampauthority_controller.go
  internal/controller/tsa/timestampauthority_controller_test.go
  internal/controller/tsa/tsa_hot_update_test.go
  internal/controller/tuf/suite_test.go
  internal/controller/tuf/tuf_controller.go
  internal/controller/tuf/tuf_controller_test.go
  internal/controller/types.go
Due: rhtas-operator-bundle-on-push

refactor: generic setup method for controller
  cmd/main.go
Due: rhtas-operator-bundle-on-push

test: concurent execution of unit and component tests
  Makefile
  internal/controller/testonly/suite.go
Due: rhtas-operator-bundle-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)
