Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)

:robot: [release-1.2] [2025-07-08T11:03:22Z] Update component images (#1157)
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

test: check status code for OIDC token request
  test/e2e/support/oidc.go
Due: none

test: add test folder into tekton cel expression
  .tekton/rhtas-operator-bundle-pull-request.yaml
  .tekton/rhtas-operator-bundle-push.yaml
  .tekton/rhtas-operator-pull-request.yaml
  .tekton/rhtas-operator-push.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

test: check status code for OIDC token request (#1187)
  .tekton/rhtas-operator-bundle-pull-request.yaml
  .tekton/rhtas-operator-bundle-push.yaml
  .tekton/rhtas-operator-pull-request.yaml
  .tekton/rhtas-operator-push.yaml
  test/e2e/support/oidc.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

:robot: [main] [2025-07-10T15:28:22Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

:robot: [main] [2025-07-10T15:28:22Z] Update component images (#1171)
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

fix(SECURESIGN-2058): Fix conditions for creating ingress objects (#1181)
  internal/controller/fulcio/actions/ingress.go
  internal/controller/fulcio/actions/ingress_test.go
  internal/controller/rekor/actions/server/ingress_test.go
  internal/controller/rekor/actions/ui/ingress.go
  internal/controller/rekor/actions/ui/ingress_test.go
  internal/controller/tsa/actions/ingress.go
  internal/controller/tsa/actions/ingress_test.go
  internal/controller/tuf/actions/ingress_test.go
Due: rhtas-operator-bundle-on-push

fix: search ui status url depends on external access setting
  internal/controller/rekor/actions/ui/status_url.go
Due: rhtas-operator-bundle-on-push

fix: search ui status url depends on external access setting (#1189)
  internal/controller/rekor/actions/ui/status_url.go
Due: rhtas-operator-bundle-on-push

feat: rekor attestation storage configuration
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/rekor/actions/server/helper.go
  internal/controller/rekor/actions/server/pvc.go
  internal/utils/kubernetes/deployment.go
  internal/utils/kubernetes/deployment_test.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

test(rekor): add attestation storage tests
  internal/controller/rekor/rekor_attestation_test.go
Due: rhtas-operator-bundle-on-push

fix: remove default port for ctlog service
  api/v1alpha1/fulcio_types.go
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

[SECURESIGN-2268] Add rekor monitor
  config/default/images.env
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/rekor_controller.go
  internal/images/images.env
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

review updates
  api/v1alpha1/common.go
  api/v1alpha1/rekor_types.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/samples/rhtas_v1alpha1_securesign.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/monitoring.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/rekor_controller.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

update rekor-monitor image
  internal/images/images.env
Due: rhtas-operator-bundle-on-push

updates
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-push

Remove OpenTelemetry dependence
  api/v1alpha1/rekor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/actions/otelCollector/deployment.go
  internal/controller/rekor/actions/otelCollector/otel_collector_config.go
  internal/controller/rekor/rekor_controller.go
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

add alerting
  api/v1alpha1/rekor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/controller/rekor/actions/otelCollector/deployment.go
  internal/controller/rekor/actions/otelCollector/ingress.go
  internal/controller/rekor/actions/otelCollector/otel_collector_config.go
  internal/controller/rekor/actions/otelCollector/svc.go
  internal/controller/rekor/rekor_controller.go
  internal/images/images.env
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

remove bundle/*
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
Due: none

updates
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/otelCollector/otel_collector_config.go
  internal/images/images.env
Due: rhtas-operator-bundle-on-push

updates imports
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-push

update rekor tests
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-push

review updates
  api/v1alpha1/common.go
  api/v1alpha1/rekor_types.go
  config/crd/bases/rhtas.redhat.com_ctlogs.yaml
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_timestampauthorities.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
  config/default/images.env
  config/samples/rhtas_v1alpha1_securesign.yaml
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/helper.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/monitoring.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

review updates
  api/v1alpha1/common.go
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  config/crd/bases/rhtas.redhat.com_ctlogs.yaml
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_timestampauthorities.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/helper.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

update rekor-monitor image
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

fix: remove default port for ctlog service (#1190)
  api/v1alpha1/fulcio_types.go
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

update rekor-monitor push image
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

:robot: [release-1.2] [2025-07-15T14:19:41Z] Update Bundle image
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

review updates
  api/v1alpha1/rekor_types.go
  cmd/main.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/default/images.env
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/pvc.go
  internal/controller/rekor/rekor_controller.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

review updates
  internal/controller/rekor/actions/monitor/deployment.go
Due: rhtas-operator-bundle-on-push

feat(fips): Upgrade Go to 1.24 and enbale strict FIPS compliance
  .github/workflows/main.yml
  Dockerfile
  Dockerfile.rhtas-operator.rh
  go.mod
  renovate.json
Due: rhtas-operator-bundle-on-push

chore: bump golangci-lint version to v2.2.2
  .github/workflows/linter.yml
  .golangci.yml
  Makefile
Due: none

style: fix linter issues discovered by golangci-lint tool
  .golangci.yml
  internal/action/base_action.go
  internal/action/tree/action.go
  internal/action/tree/action_test.go
  internal/action/tree/errors.go
  internal/controller/ctlog/actions/deployment.go
  internal/controller/ctlog/actions/server_config.go
  internal/controller/ctlog/ctlog_controller.go
  internal/controller/ctlog/utils/ctlog_config.go
  internal/controller/ctlog/utils/errors.go
  internal/controller/fulcio/actions/deployment.go
  internal/controller/fulcio/actions/fulcio_deployment_test.go
  internal/controller/fulcio/actions/generate_cert.go
  internal/controller/fulcio/fulcio_controller.go
  internal/controller/fulcio/utils/errors.go
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/rekor/actions/server/generate_signer_test.go
  internal/controller/rekor/actions/ui/ingress_test.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/rekor/utils/errors.go
  internal/controller/securesign/securesign_controller.go
  internal/controller/trillian/trillian_controller.go
  internal/controller/tsa/actions/generate_signer.go
  internal/controller/tsa/actions/service.go
  internal/controller/tsa/timestampauthority_controller.go
  internal/controller/tsa/utils/tsa_cert_chain.go
  internal/controller/tuf/tuf_controller.go
  internal/images/images.go
  internal/utils/kubernetes/common.go
  test/e2e/common_install_test.go
  test/e2e/provided_certs_test.go
  test/e2e/support/archive.go
  test/e2e/support/common.go
  test/e2e/update/ctlog_test.go
  test/e2e/update/fulcio_test.go
  test/e2e/update/rekor_test.go
  test/e2e/update/tsa_test.go
Due: rhtas-operator-bundle-on-push

Updating Cluster Service Version to 1.1.3
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

Updating files with 1.1.3
  Makefile
  bundle.Dockerfile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

Updating Rekor-Search-UI Image
  internal/controller/constants/images.go
Due: rhtas-operator-bundle-on-push

Updating git workflow to use 1.1.3
  .github/workflows/main.yml
Due: none
