Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

rhtas-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator-bundle:on-pr-{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
    value: .
  - name: build-source-image
  ...

rhtas-operator-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator-bundle:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
    value: .
  - name: build-source-image
    value: 'true'
  ...

rhtas-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile.rhtas-operator.rh
  - name: path-context
    value: .
  - name: build-platforms
    value:
  ...

ci: run linter workflow only for pull requests (#1264)
  .github/workflows/linter.yml
Due: none

fix: reduce api rules to get OCP base domain (#1248)
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/securesign/securesign_controller.go
  internal/utils/kubernetes/common.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: Create new tree jobs are scheduled after the upgrade
  internal/action/tree/action.go
  internal/action/tree/action_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: Enable TLS on all services by default after upgrade
  internal/controller/rekor/actions/searchIndex/redis/actions/tls.go
  internal/controller/trillian/actions/db/deployment.go
  internal/controller/trillian/actions/db/tls.go
  internal/controller/trillian/actions/logserver/deployment.go
  internal/controller/trillian/actions/logserver/tls.go
  internal/controller/trillian/actions/logserver/tls_test.go
  internal/controller/trillian/actions/logsigner/tls.go
  internal/controller/trillian/actions/logsigner/tls_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: remove unused apiextensions-apiserver schema
  cmd/main.go
  go.mod
  internal/testing/action/support.go
  internal/utils/kubernetes/ensure/ensure_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: removing unnecessary kubernetes api permissions
  cmd/main.go
  config/rbac/role.yaml
  internal/clidownload/component.go
  internal/controller/fulcio/fulcio_controller.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/securesign/securesign_controller.go
  internal/controller/types.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-08T12:33:19Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-08-08T12:33:21Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-08T12:35:40Z] Update Bundle image
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

chore(deps): update konflux references
  .tekton/rhtas-operator-bundle-pull-request.yaml
  .tekton/rhtas-operator-bundle-push.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: do not create roles for prometheus-k8s service account
  config/rbac/role.yaml
  config/samples/rhtas_v1alpha1_securesign.yaml
  internal/controller/ctlog/actions/monitoring.go
  internal/controller/fulcio/actions/monitoring.go
  internal/controller/rekor/actions/monitor/monitoring.go
  internal/controller/rekor/actions/server/monitoring.go
  internal/controller/trillian/actions/logserver/monitoring.go
  internal/controller/trillian/actions/logsigner/monitoring.go
  internal/controller/tsa/actions/monitoring.go
  internal/controller/types.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-11T11:41:42Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-11T11:41:42Z] Update component images (#1246)
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-11T12:41:06Z] Update Bundle image
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-11T12:41:06Z] Update Bundle image (#1261)
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: add monitoring.coreos.com prometheuses/api rule
  config/rbac/role.yaml
  internal/controller/securesign/securesign_controller.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

feat: Set request size limits in Rekor
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/controller/rekor/actions/server/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

feat: Set request size limits in Rekor (#1271)
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/controller/rekor/actions/server/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-14T09:51:13Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-14T09:51:13Z] Update component images (#1268)
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-14T10:48:09Z] Update Bundle image
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-14T10:48:09Z] Update Bundle image (#1272)
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: Updated timestamp file to 2025-08-14,12-38-54.
  trigger-konflux-builds.txt
Due: none

:robot: Updated timestamp file to 2025-08-14,12-40-15.
  trigger-konflux-builds.txt
Due: none

Triggering Build
  trigger-konflux-builds.txt
Due: none

Triggering Build (#1275)
  trigger-konflux-builds.txt
Due: none

:robot: [release-1.2] [2025-08-14T12:59:19Z] Update Bundle image
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-14T12:59:19Z] Update Bundle image (#1276)
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: add kustomize deployments for NFS CSI storage class
  .gitignore
  ci/nfs/csi-driver-nfs/kustomization.yaml
  ci/nfs/overlay/kustomization.yaml
  ci/nfs/overlay/storageclass.yaml
  ci/nfs/server/deployment.yaml
  ci/nfs/server/kustomization.yaml
  ci/nfs/server/namespace.yaml
  ci/nfs/server/pvc.yaml
  ci/nfs/server/rbac.yaml
  ci/nfs/server/service.yaml
  ci/nfs/test/claim.yaml
  ci/nfs/test/kustomization.yaml
  ci/nfs/test/namespace.yaml
  ci/nfs/test/pod.yaml
Due: none

:robot: [main] [2025-08-15T12:33:20Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-15T12:33:22Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Update Konflux references
  .tekton/rhtas-operator-bundle-pull-request.yaml
  .tekton/rhtas-operator-bundle-push.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-08-17T21:00:04Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)
  rhtas-operator-on-push: (((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: test/***)) or (any of: go.mod)) or (any of: go.sum)
