Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

rhtas-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator-bundle:on-pr-{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
    value: .
  - name: build-source-image
  ...

rhtas-operator-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator-bundle:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
    value: .
  - name: build-source-image
    value: 'true'
  ...

rhtas-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile.rhtas-operator.rh
  - name: path-context
    value: .
  - name: build-platforms
    value:
  ...

Updating Build Pipelines
  .tekton/rhtas-operator-bundle-pull-request.yaml
  .tekton/rhtas-operator-bundle-push.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

style: fix linter issues discovered by golangci-lint tool
  .golangci.yml
  internal/action/base_action.go
  internal/action/tree/action.go
  internal/action/tree/action_test.go
  internal/action/tree/errors.go
  internal/controller/ctlog/actions/deployment.go
  internal/controller/ctlog/actions/server_config.go
  internal/controller/ctlog/ctlog_controller.go
  internal/controller/ctlog/utils/ctlog_config.go
  internal/controller/ctlog/utils/errors.go
  internal/controller/fulcio/actions/deployment.go
  internal/controller/fulcio/actions/fulcio_deployment_test.go
  internal/controller/fulcio/actions/generate_cert.go
  internal/controller/fulcio/fulcio_controller.go
  internal/controller/fulcio/utils/errors.go
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/rekor/actions/server/generate_signer_test.go
  internal/controller/rekor/actions/ui/ingress_test.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/rekor/utils/errors.go
  internal/controller/securesign/securesign_controller.go
  internal/controller/trillian/trillian_controller.go
  internal/controller/tsa/actions/generate_signer.go
  internal/controller/tsa/actions/service.go
  internal/controller/tsa/timestampauthority_controller.go
  internal/controller/tsa/utils/tsa_cert_chain.go
  internal/controller/tuf/tuf_controller.go
  internal/images/images.go
  internal/utils/kubernetes/common.go
  test/e2e/common_install_test.go
  test/e2e/provided_certs_test.go
  test/e2e/support/archive.go
  test/e2e/support/common.go
  test/e2e/update/ctlog_test.go
  test/e2e/update/fulcio_test.go
  test/e2e/update/rekor_test.go
  test/e2e/update/tsa_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

feat(fips): Upgrade Go to 1.24 and enbale strict FIPS compliance
  .github/workflows/main.yml
  Dockerfile
  Dockerfile.rhtas-operator.rh
  go.mod
  renovate.json
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

chore: bump golangci-lint version to v2.2.2
  .github/workflows/linter.yml
  .golangci.yml
  Makefile
Due: none

fix: Fix providing custom CA for the rekor createtree job
  internal/action/tree/action.go
  internal/action/tree/types.go
  internal/utils/kubernetes/ensure/deployment/deployment.go
  internal/utils/tls/ensure/client.go
  internal/utils/tls/tls.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

feat: extend search ui by affinity, tolerations, resources and replicas
  api/v1alpha1/rekor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/manifests/kustomization.yaml
  config/manifests/patches/rekor_descriptors.yaml
  internal/controller/rekor/actions/ui/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

review updates
  api/v1alpha1/rekor_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/rbac/role.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/monitoring.go
  internal/controller/rekor/actions/monitor/pvc.go
  internal/controller/rekor/actions/monitor/statefulset.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/securesign/securesign_controller.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Address review comments
  internal/utils/tls/ensure/client.go
  internal/utils/tls/tls_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: Fix providing custom CA for the rekor createtree job (#1200)
  internal/action/tree/action.go
  internal/action/tree/types.go
  internal/utils/kubernetes/ensure/deployment/deployment.go
  internal/utils/tls/ensure/client.go
  internal/utils/tls/tls.go
  internal/utils/tls/tls_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix(trillian): lower time on master hold parameters
  internal/controller/trillian/utils/server-deployment.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

chore: migrate to k8s.io/* v0.33.3
  config/crd/bases/rhtas.redhat.com_ctlogs.yaml
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_timestampauthorities.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
  config/crd/bases/rhtas.redhat.com_tufs.yaml
  go.mod
  go.sum
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: deprecation Requeue field of reconcile.Result
  internal/action/base_action.go
  internal/action/result.go
  internal/action/result_test.go
  internal/testing/action/result.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-07-18T14:07:13Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-07-18T14:07:15Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

update rekor-monitor image, add background reset loop for checkpoint log
  config/default/images.env
  internal/controller/rekor/actions/monitor/statefulset.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Pipeline Update
  .tekton/rhtas-operator-bundle-pull-request.yaml
  .tekton/rhtas-operator-bundle-push.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix(trillian): lower time on master hold parameters (#1202)
  internal/controller/trillian/utils/server-deployment.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Trigger Build
  trigger-konflux-builds.txt
Due: none

:robot: [release-1.2] [2025-07-21T09:02:37Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Updating Fbc Branch
  .github/workflows/main.yml
Due: none

feat: extend Rekor by affinity, tolerations, resources and replicas
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  api/v1alpha1/securesign_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/manifests/patches/rekor_descriptors.yaml
  internal/controller/rekor/actions/server/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: fix fbc-workflow
  .github/workflows/main.yml
Due: none

ci: trigger konflux
  Dockerfile.rhtas-operator.rh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: Prometheus installer stability for Kind cluster
  .github/actions/kind-cluster/action.yml
Due: none

fix: downgrading autogenerated rekor key to P256
  docs/rekor-key-rotation.md
  internal/controller/rekor/actions/server/generate_signer.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: remove free-disk-space step from GHA
  .github/workflows/main.yml
Due: none

fix: copy entire ctlog TLS config from spec to status to avoid empty field errors
  internal/controller/ctlog/actions/tls.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)
  rhtas-operator-on-push: (((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: test/***)) or (any of: go.mod)) or (any of: go.sum)
