Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)
  rhtas-operator-on-push: (((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: test/***)) or (any of: go.mod)) or (any of: go.sum)

test: wrap a testing.T by gomega.WithT
  internal/utils/kubernetes/config_map_test.go
  internal/utils/kubernetes/ensure/deployment/deployment_test.go
  internal/utils/kubernetes/ingress_test.go
  internal/utils/kubernetes/pvc_test.go
  internal/utils/kubernetes/role_binding_test.go
  internal/utils/kubernetes/role_test.go
  internal/utils/kubernetes/secret_test.go
  internal/utils/kubernetes/service_test.go
  internal/utils/tls/tls_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

test: fix assertions in config map and secret tests
  internal/utils/kubernetes/config_map_test.go
  internal/utils/kubernetes/secret_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-09-04T17:59:14Z] Update Bundle image
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-09-05T10:40:50Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Updating Monitor Image
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-09-05T11:26:11Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: use base catalog from OCP 4.19
  .github/workflows/main.yml
  test/e2e/upgrade_test.go
Due: rhtas-operator-on-push

:robot: [RHTAS-build-bot] [main] Update Component images (#1313)
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: Updated timestamp file to 2025-09-05,13-35-20.
  trigger-konflux-builds.txt
Due: none

fix: Unblock logsigner service upgrade on OpenShift
  internal/controller/trillian/actions/logsigner/service.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: Unblock logsigner service upgrade on OpenShift (#1317)
  internal/controller/trillian/actions/logsigner/service.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Testing rekor pod running, StatefulSet created
  test/e2e/rekor_monitor_test.go
Due: rhtas-operator-on-push

Added test for mount and url parameter
  test/e2e/rekor_monitor_test.go
Due: rhtas-operator-on-push

Refactored to simplify test
  test/e2e/rekor_monitor_test.go
Due: rhtas-operator-on-push

Code improvements and refactoring
  test/e2e/rekor_monitor_test.go
Due: rhtas-operator-on-push

:robot: [main] [2025-09-07T21:07:58Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Updating Rekor-Monitor
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [RHTAS-build-bot] [main] Update Component images (#1321)
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: use base catalog from OCP 4.19 (#1315)
  .github/workflows/main.yml
  test/e2e/upgrade_test.go
Due: rhtas-operator-on-push

test: parallel execution of e2e tests
  Makefile
  go.mod
  go.sum
  test/benchmark/install_test.go
  test/e2e/byo/database_test.go
  test/e2e/byo/provided_certs_test.go
  test/e2e/byo/suite_test.go
  test/e2e/deployment/common_test.go
  test/e2e/deployment/key_autodiscovery_test.go
  test/e2e/deployment/namespaced.go
  test/e2e/deployment/suite_test.go
  test/e2e/suite_test.go
  test/e2e/support/tas/tas.go
  test/e2e/update/suite_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

feat: configurable ingress hosts template
  .github/workflows/main.yml
  cmd/main.go
  internal/config/config.go
  internal/utils/kubernetes/common.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Update trigger-konflux-builds.txt to trigger build on Konflux
  trigger-konflux-builds.txt
Due: none

Trigger build on Konflux
  trigger-konflux-builds.txt
Due: none

Update trigger-konflux-builds.txt
  trigger-konflux-builds.txt
Due: none

Basic rekor monitor test
  test/e2e/rekor_monitor_test.go
  trigger-konflux-builds.txt
Due: rhtas-operator-on-push

Rekor monitor log test - first working part
  test/e2e/rekor_monitor_log_test.go
Due: rhtas-operator-on-push

ci: add non-ha-to-ha-test
  docs/copy-pvc-to-pvc-data.md
  test/e2e/high_avalability/non_ha_to_ha_test.go
  test/e2e/support/kubernetes/pvc.go
  test/e2e/support/tas/rekor/rekor.go
  test/e2e/support/tas/tuf/tuf.go
Due: rhtas-operator-on-push

:robot: [release-1.2] [2025-09-11T09:23:44Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

build: add build flags
  test/e2e/high_avalability/non_ha_to_ha_test.go
Due: rhtas-operator-on-push

test: add context to Eventually
  test/e2e/high_avalability/non_ha_to_ha_test.go
Due: rhtas-operator-on-push

test: refactor to check Status.AvailableReplicas
  test/e2e/high_avalability/common_ha_install_test.go
  test/e2e/high_avalability/non_ha_to_ha_test.go
Due: rhtas-operator-on-push

test: non-HA to HA migration scenario (#1322)
  docs/copy-pvc-to-pvc-data.md
  test/e2e/high_avalability/non_ha_to_ha_test.go
  test/e2e/support/kubernetes/pvc.go
  test/e2e/support/tas/rekor/rekor.go
  test/e2e/support/tas/tuf/tuf.go
Due: rhtas-operator-on-push

Testing with manually tampered file
  test/e2e/rekor_monitor_log_test.go
Due: rhtas-operator-on-push

Code refactoring
  test/e2e/rekor_monitor_log_test.go
Due: rhtas-operator-on-push

Code simplification
  test/e2e/rekor_monitor_log_test.go
Due: rhtas-operator-on-push
