Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)

fix: Multiple volumes can't mount on single volumeMount
  internal/constants/constants.go
  internal/controller/rekor/actions/backfillRedis/backfill_redis_cronjob.go
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/tsa/actions/deployment.go
  internal/utils/kubernetes/ensure/auth.go
  internal/utils/kubernetes/ensure/deployment/deployment.go
Due: rhtas-operator-bundle-on-push

feat: extend Trillian api by affinity, tolerations, resources and replicas
  api/v1alpha1/common.go
  api/v1alpha1/trillian_types.go
  api/v1alpha1/trillian_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
  internal/controller/trillian/actions/logserver/deployment.go
  internal/controller/trillian/actions/logsigner/deployment.go
  internal/controller/trillian/utils/server-deployment.go
  internal/utils/kubernetes/ensure/deployment/deployment.go
  internal/utils/kubernetes/ensure/deployment/deployment_test.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

feat: OLM descriptors for Trillian CRD
  config/manifests/kustomization.yaml
  config/manifests/patches/trillian_descriptors.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

fix: trillian sample by adding default configuration
  config/samples/rhtas_v1alpha1_trillian.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

feat: extend Fulcio by affinity, tolerations, resources and replicas
  api/v1alpha1/fulcio_types.go
  api/v1alpha1/fulcio_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/manifests/kustomization.yaml
  config/manifests/patches/fulcio_descriptors.yaml
  config/manifests/patches/trillian_descriptors.yaml
  internal/controller/fulcio/actions/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

test: enable searchui tests with headless browser
  .github/workflows/main.yml
Due: none

[SECURESIGN-2268] Add rekor monitor
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/rekor_controller.go
  internal/images/images.env
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

update rekor-monitor image
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

add alerting
  api/v1alpha1/rekor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/default/images.env
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/controller/rekor/actions/otelCollector/deployment.go
  internal/controller/rekor/actions/otelCollector/ingress.go
  internal/controller/rekor/actions/otelCollector/otel_collector_config.go
  internal/controller/rekor/actions/otelCollector/svc.go
  internal/controller/rekor/rekor_controller.go
  internal/images/images.env
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

updates
  config/default/images.env
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/otelCollector/otel_collector_config.go
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

revert fulcio image
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

Remove OpenTelemetry dependence
  api/v1alpha1/rekor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/default/images.env
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/actions/otelCollector/deployment.go
  internal/controller/rekor/actions/otelCollector/otel_collector_config.go
  internal/controller/rekor/rekor_controller.go
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

update rekor-monitor image
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

updates
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/default/images.env
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

remove bundle/*
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
Due: none

updates imports
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-push

:robot: [release-1.2] [2025-06-19T09:07:32Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

feat: extend CTlog by affinity, tolerations, resources and replicas
  api/v1alpha1/ctlog_types.go
  api/v1alpha1/ctlog_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_ctlogs.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/manifests/kustomization.yaml
  config/manifests/patches/ctlog_descriptors.yaml
  config/samples/rhtas_v1alpha1_ctlog.yaml
  internal/controller/ctlog/actions/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

fix: prevent creating Redis cache with non-Redis provider
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/controller/rekor/actions/searchIndex/redis/actions/helper.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

feat: extend TSA by affinity, tolerations, resources and replicas
  api/v1alpha1/timestampauthority_types.go
  api/v1alpha1/timestampauthority_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_timestampauthorities.yaml
  config/manifests/kustomization.yaml
  config/manifests/patches/timestampauthority_descriptions.yaml
  internal/controller/tsa/actions/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

:robot: [main] [2025-06-19T09:07:33Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

feature(SECURESIGN-2557): Rekor search-index tls
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/controller/rekor/actions/backfillRedis/backfill_redis_cronjob.go
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/searchIndex/redis/actions/deployment.go
  internal/controller/rekor/actions/searchIndex/redis/actions/generate_password.go
  internal/controller/rekor/actions/searchIndex/redis/actions/helper.go
  internal/controller/rekor/actions/searchIndex/redis/actions/svc.go
  internal/controller/rekor/actions/searchIndex/redis/actions/tls.go
  internal/controller/rekor/actions/searchIndex/redis/options.go
  internal/controller/rekor/actions/searchIndex/util.go
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/rekor/rekor_controller.go
  internal/utils/kubernetes/ensure/auth.go
  test/e2e/byodb_test.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

Add the CIIssuerMetadata setting for Fulcio
  api/v1alpha1/fulcio_types.go
  api/v1alpha1/fulcio_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/controller/fulcio/actions/server_config.go
  internal/controller/fulcio/actions/testdata/config.json
  internal/controller/fulcio/actions/testdata/config.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

Add attribution header
  api/v1alpha1/fulcio_types.go
Due: rhtas-operator-bundle-on-push

:robot: [main] [2025-06-24T15:09:42Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

:robot: [main] [2025-06-25T09:03:23Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

Address review
  api/v1alpha1/fulcio_types.go
  api/v1alpha1/fulcio_types_test.go
Due: rhtas-operator-bundle-on-push

:robot: [release-1.2] [2025-06-25T14:19:33Z] Update Bundle image
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

feat: Rekor search-index tls
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/controller/rekor/actions/backfillRedis/backfill_redis_cronjob.go
  internal/controller/rekor/actions/backfillRedis/helper.go
  internal/controller/rekor/actions/backfillRedis/helper_test.go
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/searchIndex/redis/actions/deployment.go
  internal/controller/rekor/actions/searchIndex/redis/actions/generate_password.go
  internal/controller/rekor/actions/searchIndex/redis/actions/helper.go
  internal/controller/rekor/actions/searchIndex/redis/actions/svc.go
  internal/controller/rekor/actions/searchIndex/redis/actions/tls.go
  internal/controller/rekor/actions/searchIndex/redis/options.go
  internal/controller/rekor/actions/searchIndex/util.go
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/rekor/rekor_controller.go
  internal/utils/kubernetes/ensure/auth.go
  test/e2e/byodb_test.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

[SECURESIGN-2268] Add rekor monitor
  config/default/images.env
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/rekor_controller.go
  internal/images/images.env
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push
