Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

rhtas-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator-bundle:on-pr-{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
    value: .
  - name: build-source-image
  ...

rhtas-operator-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator-bundle:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
    value: .
  - name: build-source-image
    value: 'true'
  ...

rhtas-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile.rhtas-operator.rh
  - name: path-context
    value: .
  - name: build-platforms
    value:
  ...

Code simplification
  test/e2e/rekor_monitor_log_test.go
Due: rhtas-operator-on-push

Code refactoring
  test/e2e/rekor_monitor_log_test.go
  test/e2e/support/tas/rekor/monitor.go
Due: rhtas-operator-on-push

Code refactoring
  test/e2e/rekor_monitor_log_test.go
Due: rhtas-operator-on-push

Code refactoring
  test/e2e/support/tas/rekor/monitor.go
Due: rhtas-operator-on-push

:robot: [main] [2025-09-14T23:25:05Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Updint rekor monitor
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [RHTAS-build-bot] [main] Update Component images (#1328)
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Not using kubectl binary
  test/e2e/rekor_monitor_log_test.go
  test/e2e/support/kubernetes/pod.go
Due: rhtas-operator-on-push

test: Rekor monitor log test (#1325)
  test/e2e/rekor_monitor_log_test.go
  test/e2e/support/kubernetes/pod.go
  test/e2e/support/tas/rekor/monitor.go
Due: rhtas-operator-on-push

:robot: [release-1.2] [2025-09-18T15:14:55Z] Update Bundle image
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for rhtas-operator-v1-2
  Dockerfile.rhtas-operator.rh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-09-19T11:18:42Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-09-19T11:18:43Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix(tsa): handle nil pointer when NTP monitoring config is not set
  internal/controller/tsa/actions/deployment.go
  internal/controller/tsa/actions/ntpMonitoring.go
  internal/controller/tsa/actions/ntpMonitoring_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Base Prometheus test
  test/e2e/rekor_monitor_log_test.go
Due: rhtas-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for rhtas-operator-bundle-v1-2
  bundle.Dockerfile
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for rhtas-operator-v1-1
  Dockerfile.rhtas-operator.rh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for rhtas-operator-bundle-v1-1
  bundle.Dockerfile
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Creating ServiceMonitor
  test/e2e/rekor_monitor_log_test.go
Due: rhtas-operator-on-push

Code refactored
  test/e2e/rekor_monitor_log_test.go
  test/e2e/support/tas/rekor/monitor.go
Due: rhtas-operator-on-push

Linter error repaired
  test/e2e/rekor_monitor_log_test.go
Due: rhtas-operator-on-push

Improved cleanup
  test/e2e/rekor_monitor_log_test.go
Due: rhtas-operator-on-push

fix: container name labels
  Dockerfile.rhtas-operator.rh
  bundle.Dockerfile
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

test: rise timeout for e2e tests
  Makefile
  trigger-konflux-builds.txt
Due: none

Trigger build on Konflux
  trigger-konflux-builds.txt
Due: none

:robot: [release-1.2] [2025-09-25T12:49:21Z] Update Bundle image
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: check for kustomize file existence instead of cachi2 directory
  hack/build-bundle.sh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

update TSA image
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Set request size limits in TSA
  api/v1alpha1/timestampauthority_types.go
  api/v1alpha1/timestampauthority_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_timestampauthorities.yaml
  config/default/images.env
  internal/controller/tsa/actions/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix golangci-lint issues
  internal/controller/rekor/actions/server/generate_signer.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-09-26T10:48:25Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-09-26T10:48:25Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)
  rhtas-operator-on-push: (((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: test/***)) or (any of: go.mod)) or (any of: go.sum)
