Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)

refactor: generic setup method for controller
  cmd/main.go
Due: rhtas-operator-bundle-on-push

refactor: generalization of controller suite methods
  cmd/main.go
  internal/controller/ctlog/ctlog_controller.go
  internal/controller/ctlog/ctlog_controller_test.go
  internal/controller/ctlog/ctlog_hot_update_test.go
  internal/controller/ctlog/suite_test.go
  internal/controller/fulcio/fulcio_controller.go
  internal/controller/fulcio/fulcio_controller_test.go
  internal/controller/fulcio/fulcio_hot_update_test.go
  internal/controller/fulcio/suite_test.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/rekor/rekor_controller_test.go
  internal/controller/rekor/rekor_hot_update_test.go
  internal/controller/rekor/suite_test.go
  internal/controller/securesign/securesign_controller.go
  internal/controller/testonly/suite.go
  internal/controller/trillian/suite_test.go
  internal/controller/trillian/trillian_controller.go
  internal/controller/trillian/trillian_controller_test.go
  internal/controller/tsa/suite_test.go
  internal/controller/tsa/timestampauthority_controller.go
  internal/controller/tsa/timestampauthority_controller_test.go
  internal/controller/tsa/tsa_hot_update_test.go
  internal/controller/tuf/suite_test.go
  internal/controller/tuf/tuf_controller.go
  internal/controller/tuf/tuf_controller_test.go
  internal/controller/types.go
Due: rhtas-operator-bundle-on-push

Small change in dockerfile to trigger build on Konflux
  Dockerfile.rhtas-operator.rh
Due: rhtas-operator-bundle-on-push

chore: update tuffer image
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

fix: remove unnecessary rbac rights for service accounts
  internal/action/rbac/action.go
  internal/action/rbac/action_test.go
  internal/controller/ctlog/actions/rbac.go
  internal/controller/fulcio/actions/rbac.go
  internal/controller/rekor/actions/backfillRedis/backfill_redis_cronjob.go
  internal/controller/rekor/actions/backfillRedis/helper.go
  internal/controller/rekor/actions/backfillRedis/rbac.go
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/rbac.go
  internal/controller/rekor/actions/redis/deployment.go
  internal/controller/rekor/actions/redis/rbac.go
  internal/controller/rekor/actions/server/rbac.go
  internal/controller/rekor/actions/ui/deployment.go
  internal/controller/rekor/actions/ui/helper.go
  internal/controller/rekor/actions/ui/ingress.go
  internal/controller/rekor/actions/ui/initialize.go
  internal/controller/rekor/actions/ui/rbac.go
  internal/controller/rekor/actions/ui/status_url.go
  internal/controller/rekor/actions/ui/svc.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/trillian/actions/constants.go
  internal/controller/trillian/actions/db/deployment.go
  internal/controller/trillian/actions/db/rbac.go
  internal/controller/trillian/actions/logserver/deployment.go
  internal/controller/trillian/actions/logserver/rbac.go
  internal/controller/trillian/actions/logsigner/deployment.go
  internal/controller/trillian/actions/logsigner/rbac.go
  internal/controller/trillian/actions/rbac.go
  internal/controller/trillian/trillian_controller.go
  internal/controller/tsa/actions/rbac.go
  internal/controller/tuf/actions/rbac.go
  internal/controller/tuf/actions/tuf_init_job.go
  internal/controller/tuf/constants/constants.go
  internal/controller/tuf/tuf_controller.go
  test/e2e/support/tas/tuf/tuf.go
Due: rhtas-operator-bundle-on-push

fix: change red hat trusted artifact signer icon
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

feature(SECURESIGN-2527): Implement Rekor External Search Index Configuration
  api/v1alpha1/rekor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  internal/controller/rekor/actions/backfillRedis/backfill_redis_cronjob.go
  internal/controller/rekor/actions/searchIndex/redis/deployment.go
  internal/controller/rekor/actions/searchIndex/redis/helper.go
  internal/controller/rekor/actions/searchIndex/redis/initialize.go
  internal/controller/rekor/actions/searchIndex/redis/rbac.go
  internal/controller/rekor/actions/searchIndex/redis/svc.go
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/rekor/utils/search_index.go
  internal/controller/rekor/utils/search_index_test.go
Due: rhtas-operator-bundle-on-push

fix(SECURESIGN-1855): Initialize TUF repository with user-provided PVC
  internal/controller/tuf/actions/tuf_init_job.go
  internal/controller/tuf/tuf_controller_test.go
  internal/controller/tuf/utils/tuf_init_job.go
  test/e2e/securesign_1855_test.go
  test/e2e/support/kubernetes/pod.go
  test/e2e/support/tas/tuf/tuf.go
Due: rhtas-operator-bundle-on-push

test: parallel execution of e2e tests
  Makefile
  go.mod
  go.sum
  test/benchmark/install_test.go
  test/e2e/byo/database_test.go
  test/e2e/byo/provided_certs_test.go
  test/e2e/byo/suite_test.go
  test/e2e/custom_install/proxy_test.go
  test/e2e/custom_install/suite_test.go
  test/e2e/deployment/common_test.go
  test/e2e/deployment/key_autodiscovery_test.go
  test/e2e/deployment/namespaced.go
  test/e2e/deployment/suite_test.go
  test/e2e/suite_test.go
  test/e2e/support/tas/tas.go
  test/e2e/update/suite_test.go
Due: rhtas-operator-bundle-on-push

feat: configurable ingress hosts template
  .github/workflows/main.yml
  cmd/main.go
  internal/config/config.go
  internal/utils/kubernetes/common.go
Due: rhtas-operator-bundle-on-push

fix: keycloak host name
  .github/workflows/main.yml
Due: none

feat: use kubernetes lease election for Trillian log signer
  config/default/images.env
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/trillian/actions/logsigner/deployment.go
  internal/controller/trillian/actions/logsigner/rbac.go
  internal/controller/trillian/trillian_controller.go
  internal/controller/trillian/utils/server-deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

fix: downgrading autogenerated rekor key to P256
  internal/controller/rekor/actions/server/generate_signer.go
Due: rhtas-operator-bundle-on-push

changing rotation doc
  docs/rekor-key-rotation.md
Due: none

fix: downgrading autogenerated rekor key to P256 (#1144)
  docs/rekor-key-rotation.md
  internal/controller/rekor/actions/server/generate_signer.go
Due: rhtas-operator-bundle-on-push

fix: changing CA common names
  config/samples/rhtas_v1alpha1_securesign.yaml
  config/samples/rhtas_v1alpha1_timestampauthority.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

feat: extend Trillian api by affinity, tolerations, resources and replicas
  api/v1alpha1/common.go
  api/v1alpha1/trillian_types.go
  api/v1alpha1/trillian_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
  internal/controller/trillian/actions/logserver/deployment.go
  internal/controller/trillian/actions/logsigner/deployment.go
  internal/controller/trillian/utils/server-deployment.go
  internal/utils/kubernetes/ensure/deployment/deployment.go
  internal/utils/kubernetes/ensure/deployment/deployment_test.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

feature(SECURESIGN-2527): Implement Rekor External Search Index Configuration
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/constants/constants.go
  internal/controller/rekor/actions/backfillRedis/backfill_redis_cronjob.go
  internal/controller/rekor/actions/searchIndex/redis/actions/deployment.go
  internal/controller/rekor/actions/searchIndex/redis/actions/helper.go
  internal/controller/rekor/actions/searchIndex/redis/actions/initialize.go
  internal/controller/rekor/actions/searchIndex/redis/actions/rbac.go
  internal/controller/rekor/actions/searchIndex/redis/actions/svc.go
  internal/controller/rekor/actions/searchIndex/redis/options.go
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/tsa/actions/deployment.go
  test/e2e/byodb_test.go
  test/e2e/common_install_test.go
  test/e2e/namespaced.go
  test/e2e/provided_certs_test.go
  test/e2e/support/tas/rekor/rekor.go
  test/e2e/support/tas/tas.go
  test/e2e/update/rekor_test.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

feat: OLM descriptors for Trillian CRD
  config/manifests/kustomization.yaml
  config/manifests/patches/trillian_descriptors.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

fix: Multiple volumes can't mount on single volumeMount
  internal/constants/constants.go
  internal/controller/rekor/actions/backfillRedis/backfill_redis_cronjob.go
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/tsa/actions/deployment.go
  internal/utils/kubernetes/ensure/auth.go
  internal/utils/kubernetes/ensure/deployment/deployment.go
Due: rhtas-operator-bundle-on-push

fix: trillian sample by adding default configuration
  config/samples/rhtas_v1alpha1_trillian.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push

feature(SECURESIGN-2527): Implement Rekor External Search Index Configuration
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  internal/constants/constants.go
  internal/controller/rekor/actions/backfillRedis/backfill_redis_cronjob.go
  internal/controller/rekor/actions/redis/rbac.go
  internal/controller/rekor/actions/searchIndex/redis/actions/deployment.go
  internal/controller/rekor/actions/searchIndex/redis/actions/helper.go
  internal/controller/rekor/actions/searchIndex/redis/actions/initialize.go
  internal/controller/rekor/actions/searchIndex/redis/actions/rbac.go
  internal/controller/rekor/actions/searchIndex/redis/actions/svc.go
  internal/controller/rekor/actions/searchIndex/redis/options.go
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/tsa/actions/deployment.go
  test/e2e/byodb_test.go
  test/e2e/common_install_test.go
  test/e2e/namespaced.go
  test/e2e/provided_certs_test.go
  test/e2e/support/tas/rekor/rekor.go
  test/e2e/support/tas/tas.go
  test/e2e/update/rekor_test.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push
