Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)
  rhtas-operator-on-push: (((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: test/***)) or (any of: go.mod)) or (any of: go.sum)

:robot: [release-1.2] [2025-08-17T21:00:04Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-17T21:00:04Z] Update component images (#1278)
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-17T21:52:06Z] Update Bundle image
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-17T21:52:06Z] Update Bundle image (#1281)
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-08-17T21:00:04Z] Update component images (#1247)
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: correcting image labels
  Dockerfile.rhtas-operator.rh
  bundle.Dockerfile
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: refactor PVC management and prevent immutable field updates
  internal/action/pvc/action.go
  internal/action/pvc/action_test.go
  internal/action/pvc/doc.go
  internal/action/pvc/errors.go
  internal/action/pvc/types.go
  internal/controller/rekor/actions/server/pvc.go
  internal/controller/trillian/actions/db/pvc.go
  internal/controller/tuf/actions/pvc.go
  internal/utils/kubernetes/pvc.go
  internal/utils/kubernetes/pvc_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: add immutable validation rules for storageClass and accessModes
  api/v1alpha1/common.go
  api/v1alpha1/rekor_types_test.go
  api/v1alpha1/trillian_types_test.go
  api/v1alpha1/tuf_types.go
  api/v1alpha1/tuf_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
  config/crd/bases/rhtas.redhat.com_tufs.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-08-25T11:03:19Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-08-25T11:03:20Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

refactor: Securesign resource contructor for E2E tests
  test/e2e/byodb_test.go
  test/e2e/common_install_test.go
  test/e2e/fulcio_key_rotation_test.go
  test/e2e/key_autodiscovery_test.go
  test/e2e/provided_certs_test.go
  test/e2e/support/tas/securesign/securesign.go
  test/e2e/update/suite_test.go
  test/e2e/upgrade_test.go
Due: rhtas-operator-on-push

refactor: Introduce Securesign CR builder for e2e tests (#1290)
  test/e2e/byodb_test.go
  test/e2e/common_install_test.go
  test/e2e/fulcio_key_rotation_test.go
  test/e2e/key_autodiscovery_test.go
  test/e2e/provided_certs_test.go
  test/e2e/support/tas/securesign/securesign.go
  test/e2e/update/suite_test.go
  test/e2e/upgrade_test.go
Due: rhtas-operator-on-push

fix: Fix auth file mounts
  internal/utils/kubernetes/ensure/auth.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: Fix auth file mounts (#1291)
  internal/utils/kubernetes/ensure/auth.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

test: pass context via Eventually function
  test/e2e/common_install_test.go
  test/e2e/fulcio_key_rotation_test.go
  test/e2e/key_autodiscovery_test.go
  test/e2e/namespaced.go
  test/e2e/provided_certs_test.go
  test/e2e/support/condition/condition.go
  test/e2e/support/tas/ctlog/ctlog.go
  test/e2e/support/tas/fulcio/fulcio.go
  test/e2e/support/tas/rekor/rekor.go
  test/e2e/support/tas/rekor/search_ui.go
  test/e2e/support/tas/securesign/securesign.go
  test/e2e/support/tas/tas.go
  test/e2e/support/tas/trillian/trillian.go
  test/e2e/support/tas/tsa/tsa.go
  test/e2e/support/tas/tuf/tuf.go
  test/e2e/update/ctlog_test.go
  test/e2e/update/fulcio_test.go
  test/e2e/update/rekor_test.go
  test/e2e/update/tsa_test.go
  test/e2e/upgrade_test.go
Due: rhtas-operator-on-push

test: pass context via Eventually function (#1295)
  test/e2e/common_install_test.go
  test/e2e/fulcio_key_rotation_test.go
  test/e2e/key_autodiscovery_test.go
  test/e2e/namespaced.go
  test/e2e/provided_certs_test.go
  test/e2e/support/condition/condition.go
  test/e2e/support/tas/ctlog/ctlog.go
  test/e2e/support/tas/fulcio/fulcio.go
  test/e2e/support/tas/rekor/rekor.go
  test/e2e/support/tas/rekor/search_ui.go
  test/e2e/support/tas/securesign/securesign.go
  test/e2e/support/tas/tas.go
  test/e2e/support/tas/trillian/trillian.go
  test/e2e/support/tas/tsa/tsa.go
  test/e2e/support/tas/tuf/tuf.go
  test/e2e/update/ctlog_test.go
  test/e2e/update/fulcio_test.go
  test/e2e/update/rekor_test.go
  test/e2e/update/tsa_test.go
  test/e2e/upgrade_test.go
Due: rhtas-operator-on-push

:robot: [release-1.2] [2025-08-28T10:43:35Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-08-28T10:43:35Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

test(e2e): remove context.TODO and create namespace dump on test timeout
  test/e2e/byodb_test.go
  test/e2e/cli_server_test.go
  test/e2e/common_install_test.go
  test/e2e/custom_install/custom_install_suite_test.go
  test/e2e/custom_install/proxy.go
  test/e2e/fulcio_key_rotation_test.go
  test/e2e/key_autodiscovery_test.go
  test/e2e/namespaced.go
  test/e2e/provided_certs_test.go
  test/e2e/securesign_1855_test.go
  test/e2e/support/steps/namespace.go
  test/e2e/tas_e2e_suite_test.go
  test/e2e/update/ctlog_test.go
  test/e2e/update/fulcio_test.go
  test/e2e/update/rekor_test.go
  test/e2e/update/suite_test.go
  test/e2e/update/tsa_test.go
  test/e2e/upgrade_test.go
Due: rhtas-operator-on-push

test(e2e): remove context.TODO and create namespace dump on test timeout (#1297)
  test/e2e/byodb_test.go
  test/e2e/cli_server_test.go
  test/e2e/common_install_test.go
  test/e2e/custom_install/custom_install_suite_test.go
  test/e2e/custom_install/proxy.go
  test/e2e/fulcio_key_rotation_test.go
  test/e2e/key_autodiscovery_test.go
  test/e2e/namespaced.go
  test/e2e/provided_certs_test.go
  test/e2e/securesign_1855_test.go
  test/e2e/support/steps/namespace.go
  test/e2e/tas_e2e_suite_test.go
  test/e2e/update/ctlog_test.go
  test/e2e/update/fulcio_test.go
  test/e2e/update/rekor_test.go
  test/e2e/update/suite_test.go
  test/e2e/update/tsa_test.go
  test/e2e/upgrade_test.go
Due: rhtas-operator-on-push

fix: configure security context for tuf and rekor pods
  internal/controller/rekor/actions/monitor/statefulset.go
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/trillian/actions/db/deployment.go
  internal/controller/tuf/actions/deployment.go
  internal/controller/tuf/actions/tuf_init_job.go
  internal/utils/kubernetes/common.go
  internal/utils/kubernetes/ensure/deployment/deployment.go
  internal/utils/kubernetes/ensure/pod_spec.go
  test/e2e/support/tas/tuf/tuf.go
  test/e2e/update/suite_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: configure security context for tuf and rekor pods (#1296)
  internal/controller/rekor/actions/monitor/statefulset.go
  internal/controller/rekor/actions/server/deployment.go
  internal/controller/trillian/actions/db/deployment.go
  internal/controller/tuf/actions/deployment.go
  internal/controller/tuf/actions/tuf_init_job.go
  internal/utils/kubernetes/common.go
  internal/utils/kubernetes/ensure/deployment/deployment.go
  internal/utils/kubernetes/ensure/pod_spec.go
  test/e2e/support/tas/tuf/tuf.go
  test/e2e/update/suite_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

test: new custom install scenario to cover rolling update
  .github/actions/kind-cluster/action.yml
  .github/workflows/main.yml
  internal/images/images.go
  test/e2e/custom_install/custom_install_suite_test.go
  test/e2e/custom_install/proxy.go
  test/e2e/custom_install/proxy_test.go
  test/e2e/custom_install/rolling_upgrade_test.go
  test/e2e/custom_install/suite_test.go
  test/e2e/custom_install/testdata/proxy.yaml
  test/e2e/support/tas/securesign/securesign.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: add common HA install test
  .github/actions/kind-cluster/action.yml
  .github/workflows/main.yml
  test/e2e/high_avalability/common_ha_install_test.go
  test/e2e/high_avalability/ha_suite_test.go
  test/e2e/support/kubernetes/endpoint.go
  test/e2e/support/kubernetes/ha.go
  test/e2e/support/kubernetes/pod.go
  test/e2e/support/tas/securesign/securesign.go
Due: rhtas-operator-on-push

test: new custom install scenario to cover rolling update
  .github/actions/kind-cluster-cleanup/action.yml
  .github/actions/kind-cluster/action.yml
  .github/workflows/main.yml
  internal/images/images.go
  test/e2e/custom_install/custom_install_suite_test.go
  test/e2e/custom_install/proxy.go
  test/e2e/custom_install/proxy_test.go
  test/e2e/custom_install/rolling_upgrade_test.go
  test/e2e/custom_install/suite_test.go
  test/e2e/custom_install/testdata/proxy.yaml
  test/e2e/support/tas/securesign/securesign.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

test: add rolling update test for custom install suite (#1292)
  .github/actions/kind-cluster-cleanup/action.yml
  .github/actions/kind-cluster/action.yml
  .github/workflows/main.yml
  internal/images/images.go
  test/e2e/custom_install/custom_install_suite_test.go
  test/e2e/custom_install/proxy.go
  test/e2e/custom_install/proxy_test.go
  test/e2e/custom_install/rolling_upgrade_test.go
  test/e2e/custom_install/suite_test.go
  test/e2e/custom_install/testdata/proxy.yaml
  test/e2e/support/tas/securesign/securesign.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-09-01T20:08:44Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Updating Monitor Image
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

test: fix proxy deployment service
  .github/workflows/main.yml
  test/e2e/custom_install/proxy_test.go
  test/e2e/custom_install/testdata/proxy.yaml
Due: rhtas-operator-on-push

test: fix proxy deployment service (#1300)
  .github/workflows/main.yml
  test/e2e/custom_install/proxy_test.go
  test/e2e/custom_install/testdata/proxy.yaml
Due: rhtas-operator-on-push

ci: refactor
  .github/workflows/main.yml
  test/e2e/high_avalability/common_ha_install_test.go
  test/e2e/high_avalability/ha_suite_test.go
  test/e2e/support/kubernetes/endpoint.go
  test/e2e/support/kubernetes/ha.go
  test/e2e/support/kubernetes/leader.go
  test/e2e/support/kubernetes/pod.go
Due: rhtas-operator-on-push

ci: add leader election test for log signer
  test/e2e/high_avalability/common_ha_install_test.go
  test/e2e/support/kubernetes/pod.go
Due: rhtas-operator-on-push

ci: add common HA install test
  .github/workflows/main.yml
  test/e2e/high_avalability/common_ha_install_test.go
  test/e2e/high_avalability/ha_suite_test.go
  test/e2e/support/kubernetes/endpoint.go
  test/e2e/support/kubernetes/ha.go
  test/e2e/support/kubernetes/pod.go
  test/e2e/support/tas/securesign/securesign.go
Due: rhtas-operator-on-push

ci: use gomega matcher for pointer
  .github/workflows/main.yml
  test/e2e/high_avalability/common_ha_install_test.go
Due: rhtas-operator-on-push

test: add common HA install test (#1298)
  .github/workflows/main.yml
  test/e2e/high_avalability/common_ha_install_test.go
  test/e2e/high_avalability/ha_suite_test.go
  test/e2e/support/kubernetes/endpoint.go
  test/e2e/support/kubernetes/ha.go
  test/e2e/support/kubernetes/leader.go
  test/e2e/support/kubernetes/pod.go
  test/e2e/support/tas/securesign/securesign.go
Due: rhtas-operator-on-push

:robot: [RHTAS-build-bot] [main] Update Component images (#1283)
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

test: fix assertions in config map and secret tests
  internal/utils/kubernetes/config_map_test.go
  internal/utils/kubernetes/secret_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push
