Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)
  rhtas-operator-on-push: (((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: test/***)) or (any of: go.mod)) or (any of: go.sum)

:robot: [main] [2025-07-23T12:38:44Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: remove free-disk-space step from GHA
  .github/workflows/main.yml
Due: none

feat(fips): Upgrade Go to 1.24 and enable strict FIPS compliance
  Dockerfile.rhtas-operator.rh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: copy entire ctlog TLS config from spec to status to avoid empty field errors
  internal/controller/ctlog/actions/tls.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

add doc to new constant
  internal/controller/ctlog/actions/constants.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Set certificate size limits in CTLog
  internal/controller/ctlog/actions/constants.go
  internal/controller/ctlog/actions/deployment.go
  internal/controller/ctlog/actions/server_config.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

feat(fips): Upgrade Go to 1.24 and enable strict FIPS compliance (#1219)
  Dockerfile.rhtas-operator.rh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: remove docker push from github workflows
  .github/workflows/main.yml
Due: none

:robot: [release-1.2] [2025-07-24T10:00:18Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-07-24T10:08:02Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-07-24T10:12:34Z] Update Bundle image
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-07-24T10:12:34Z] Update Bundle image (#1170)
  Makefile
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: store builded container images in ghcr.io
  .github/workflows/main.yml
  .github/workflows/pruner.yaml
Due: none

fix: using proper casing + readme fix
  Dockerfile
  Dockerfile.rhtas-operator.rh
  README.md
  bundle.Dockerfile
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

feat(fips): Upgrade Go to 1.24 and enbale strict FIPS compliance
  Dockerfile.rhtas-operator.rh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: using proper casing + readme fix (#1223)
  Dockerfile
  Dockerfile.rhtas-operator.rh
  README.md
  bundle.Dockerfile
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

[SECURESIGN-2268] Add rekor monitor
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/rekor_controller.go
  internal/images/images.env
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

updates
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/otelCollector/otel_collector_config.go
  internal/images/images.env
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

updates
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

add alerting
  api/v1alpha1/rekor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/controller/rekor/actions/otelCollector/deployment.go
  internal/controller/rekor/actions/otelCollector/ingress.go
  internal/controller/rekor/actions/otelCollector/otel_collector_config.go
  internal/controller/rekor/actions/otelCollector/svc.go
  internal/controller/rekor/rekor_controller.go
  internal/images/images.env
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

update rekor-monitor image
  internal/images/images.env
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Remove OpenTelemetry dependence
  api/v1alpha1/rekor_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/default/kustomization.yaml
  config/default/manager_images_patch.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/actions/otelCollector/deployment.go
  internal/controller/rekor/actions/otelCollector/otel_collector_config.go
  internal/controller/rekor/rekor_controller.go
  internal/images/images.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

update rekor tests
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

remove bundle/*
  bundle/manifests/rhtas-operator.clusterserviceversion.yaml
  bundle/manifests/rhtas-related-images_v1_configmap.yaml
Due: none

updates imports
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

review updates
  api/v1alpha1/common.go
  api/v1alpha1/rekor_types.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/samples/rhtas_v1alpha1_securesign.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/monitoring.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/rekor_controller.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

review updates
  api/v1alpha1/common.go
  api/v1alpha1/rekor_types.go
  config/crd/bases/rhtas.redhat.com_ctlogs.yaml
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_timestampauthorities.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
  config/samples/rhtas_v1alpha1_securesign.yaml
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/helper.go
  internal/controller/rekor/actions/monitor/ingress.go
  internal/controller/rekor/actions/monitor/monitoring.go
  internal/controller/rekor/actions/monitor/svc.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/rekor/rekor_controller_test.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

review updates
  api/v1alpha1/common.go
  api/v1alpha1/rekor_types.go
  api/v1alpha1/rekor_types_test.go
  config/crd/bases/rhtas.redhat.com_ctlogs.yaml
  config/crd/bases/rhtas.redhat.com_fulcios.yaml
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_timestampauthorities.yaml
  config/crd/bases/rhtas.redhat.com_trillians.yaml
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/helper.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

update rekor-monitor image
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

review updates
  api/v1alpha1/rekor_types.go
  cmd/main.go
  config/crd/bases/rhtas.redhat.com_rekors.yaml
  internal/controller/rekor/actions/monitor/deployment.go
  internal/controller/rekor/actions/monitor/pvc.go
  internal/controller/rekor/rekor_controller.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

review updates
  internal/controller/rekor/actions/monitor/deployment.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

review updates
  api/v1alpha1/rekor_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/rbac/role.yaml
  internal/controller/rekor/actions/constants.go
  internal/controller/rekor/actions/monitor/monitoring.go
  internal/controller/rekor/actions/monitor/pvc.go
  internal/controller/rekor/actions/monitor/statefulset.go
  internal/controller/rekor/rekor_controller.go
  internal/controller/securesign/securesign_controller.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

update rekor-monitor image, add background reset loop for checkpoint log
  internal/controller/rekor/actions/monitor/statefulset.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

remove exec from command
  internal/controller/rekor/actions/monitor/statefulset.go
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-07-28T13:31:20Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push
