Repository securesign/secure-sign-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

rhtas-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator-bundle:on-pr-{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
    value: .
  - name: build-source-image
  ...

rhtas-operator-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator-bundle:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
    value: .
  - name: build-source-image
    value: 'true'
  ...

rhtas-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile.rhtas-operator.rh
  - name: path-context
    value: .
  - name: build-platforms
    value:
  ...

fix: fix vendor and maintainer label
  bundle.Dockerfile
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-09-29T14:07:35Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Updating rekor-monitor
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [RHTAS-build-bot] [main] Update Component images (#1334)
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Set request size limits in TSA
  api/v1alpha1/timestampauthority_types.go
  api/v1alpha1/timestampauthority_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_timestampauthorities.yaml
  internal/controller/rekor/actions/server/generate_signer.go
  internal/controller/tsa/actions/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Set request size limits in TSA (#1356)
  api/v1alpha1/timestampauthority_types.go
  api/v1alpha1/timestampauthority_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_timestampauthorities.yaml
  internal/controller/rekor/actions/server/generate_signer.go
  internal/controller/tsa/actions/deployment.go
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Base Prometheus Test - squashed commits
  test/e2e/rekor_monitor_log_test.go
  test/e2e/support/tas/rekor/monitor.go
  trigger-konflux-builds.txt
Due: rhtas-operator-on-push

:robot: [main] [2025-09-30T10:31:36Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-09-30T10:31:36Z] Update component images (#1357)
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

test: verify prometheus endpoints on rekor-monitor
  test/e2e/rekor_monitor_log_test.go
  test/e2e/support/tas/rekor/monitor.go
  trigger-konflux-builds.txt
Due: rhtas-operator-on-push

Updating tekton pipeline
  .tekton/rhtas-operator-pull-request.yaml
Due: none

Adding params
  .tekton/rhtas-operator-pull-request.yaml
Due: none

Removing comment
  .tekton/rhtas-operator-pull-request.yaml
Due: none

Test
  .tekton/rhtas-operator-bundle-pull-request.yaml
Due: rhtas-operator-bundle-on-pull-request

Test changes to params
  .tekton/rhtas-operator-pull-request.yaml
Due: none

chore: force konflux build
  .tekton/rhtas-operator-bundle-pull-request.yaml
  .tekton/rhtas-operator-pull-request.yaml
  trigger-konflux-builds.txt
Due: rhtas-operator-bundle-on-pull-request

REmoving extra params
  .tekton/rhtas-operator-pull-request.yaml
Due: none

Removing comment
  .tekton/rhtas-operator-bundle-pull-request.yaml
Due: rhtas-operator-bundle-on-pull-request

:robot: [main] [2025-10-03T11:19:41Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [release-1.2] [2025-10-03T11:19:42Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

fix: label selector
  .tekton/rhtas-operator-bundle-pull-request.yaml
Due: rhtas-operator-bundle-on-pull-request

test: sealights dockerfile
  .tekton/rhtas-operator-pull-request.yaml
Due: none

chore: initialize 1.3.1 release
  .github/workflows/main.yml
  Dockerfile.rhtas-operator.rh
  Makefile
  bundle.Dockerfile
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

chore: initialise 1.4.0 release
  .github/workflows/main.yml
  Dockerfile.rhtas-operator.rh
  Makefile
  bundle.Dockerfile
  config/manifests/bases/rhtas-operator.clusterserviceversion.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

ci: configure new channels for fbc
  .github/workflows/main.yml
Due: none

:robot: [release-1.2] [2025-10-08T14:09:17Z] Update component images
  config/default/images.env
  internal/images/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

:robot: [main] [2025-10-08T14:09:21Z] Update component images
  config/default/images.env
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Removing Read Only
  Dockerfile.rhtas-operator.rh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Testing cachi
  Dockerfile.rhtas-operator.rh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Testing go mod tidy
  Dockerfile.rhtas-operator.rh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Reverting go mod to download
  Dockerfile.rhtas-operator.rh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Copy Everything
  Dockerfile.rhtas-operator.rh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

chore: update rhtas-rhel9-operator released 1.3.0 GA image
  Makefile
  config/manager/kustomization.yaml
Due: rhtas-operator-bundle-on-pull-request, rhtas-operator-bundle-on-push, rhtas-operator-on-push

Simple script to recreate TLS certificates
  hack/restoreTls.sh
Due: rhtas-operator-bundle-on-push, rhtas-operator-on-push

Path conditions:
  rhtas-operator-bundle-on-pull-request: (((any of: config/***) or (any of: .tekton/bundle-build-pipeline.yaml)) or (any of: .tekton/rhtas-operator-bundle-pull-request.yaml)) or (any of: bundle.Dockerfile)
  rhtas-operator-bundle-on-push: ((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: go.mod)) or (any of: go.sum)
  rhtas-operator-on-push: (((((((((((any of: .tekton/rhtas-operator-bundle-push.yaml) or (any of: .tekton/rhtas-operator-push.yaml)) or (any of: bundle.Dockerfile)) or (any of: Dockerfile.rhtas-operator.rh)) or (any of: config/***)) or (any of: hack/***)) or (any of: api/***)) or (any of: internal/***)) or (any of: cmd/***)) or (any of: test/***)) or (any of: go.mod)) or (any of: go.sum)
